In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("https://raw.githubusercontent.com/ashokveda/ML_deployment_Flask_AWS_marriage_age_prediction/master/age_of_marriage_data.csv")

In [5]:
df.shape

(2567, 10)

In [6]:
df.head()

,id,gender,height,religion,caste,mother_tongue,profession,location,country,age_of_marriage
0,1,female,"5'4""",NaN,others,Telugu,NaN,London,United Kingdom,21.0
1,2,male,"5'7""",Jain,Shwetamber,Gujarati,Doctor / Healthcare Professional,Fairfax- VA,USA,32.0
2,3,male,"5'7""",Hindu,Brahmin,Hindi,Entrepreneurs / Business,Begusarai,India,32.0
3,4,female,"5'0""",Hindu,Thakur,Hindi,Architect,Mumbai,India,30.0
4,5,male,"5'5""",Christian,Born Again,Malayalam,Sales Professional / Marketing,Sulthan Bathery,India,30.0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2567 entries, 0 to 2566
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               2567 non-null   int64
 1   gender           2538 non-null   object
 2   height           2449 non-null   object
 3   religion         1932 non-null   object
 4   caste            2425 non-null   object
 5   mother_tongue    2403 non-null   object
 6   profession       2237 non-null   object
 7   location         2412 non-null   object
 8   country          2551 non-null   object
 9   age_of_marriage  2548 non-null   float64
dtypes: float64(1), int64(1), object(8)
memory usage: 200.7+ KB

In [8]:
df.describe()

                id  age_of_marriage
count  2567.000000      2548.000000
mean   1284.000000        29.648352
std     741.173394         2.802414
min       1.000000        20.000000
25%     642.500000        28.000000
50%    1284.000000        30.000000
75%    1925.500000        32.000000
max    2567.000000        36.000000

In [9]:
df.isna().sum()

id                   0
gender              29
height             118
religion           635
caste              142
mother_tongue      164
profession         330
location           155
country             16
age_of_marriage     19
dtype: int64

In [10]:
(df.shape[0] - df.dropna().shape[0]) / df.shape[0]

0.24737047136735488

In [11]:
df.dropna(inplace=True)

In [12]:
df.shape

(1932, 10)

In [13]:
X = df.loc[:,['gender','height','religion','caste','mother_tongue','country']]
y = df.age_of_marriage

In [14]:
from sklearn.preprocessing import LabelEncoder
enc = LabelEncoder()
X.loc[:,['gender','religion','caste','mother_tongue','country']]= \
X.loc[:,['gender','religion','caste','mother_tongue','country']].apply(enc.fit_transform)

In [15]:
def h_cms(h):
    return int(h.split('\'')[0])*30.48+\
    int(h.split('\'')[1].replace('"',''))*2.54

In [16]:
X['height_cms'] = X.height.apply(h_cms)

In [17]:
X.drop('height',inplace=True,axis=1)

In [18]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0)

In [19]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(n_estimators=80,max_depth=11)
model.fit(X_train,y_train)
y_predict = model.predict(X_test)

In [20]:
from sklearn.metrics import mean_absolute_error, r2_score
print(r2_score(y_test,y_predict))

0.7005559753388038

In [22]:
pip install joblib

Requirement already satisfied: joblib in c:\pyhton37\lib\site-packages (0.17.0)Note: you may need to restart the kernel to use updated packages.

In [23]:
import joblib
joblib.dump(model,'marriage_age_predict_model.ml')

['marriage_age_predict_model.ml']